<div class="nab-calculator">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="screen">
                    {{result}}
                </div>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('7')">
                    7
                </button>
            </div>
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('8')">
                    8
                </button>
            </div>
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('9')">
                    9
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary" (click)="onClickOperator('/')">
                    /
                </button>
            </div>
        </div>

        <div class="row buttons">
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('4')">
                    4
                </button>
            </div>
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('5')">
                    5
                </button>
            </div>
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('6')">
                    6
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary" (click)="onClickOperator('*')">
                    x
                </button>
            </div>
        </div>

        <div class="row buttons">
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('1')">
                    1
                </button>
            </div>
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('2')">
                    2
                </button>
            </div>
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('3')">
                    3
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary" (click)="onClickOperator('-')">
                    -
                </button>
            </div>
        </div>

        <div class="row buttons">
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('0')">
                    0
                </button>
            </div>
            <div class="col-3">
                <button class="btn" (click)="onClickNumber('.')">
                    .
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary" (click)="onClickEquals('=')">
                    =
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary" (click)="onClickOperator('+')">
                    +
                </button>
            </div>
        </div>
    </div>
</div>